<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Header</title>
    <link href="../../../src/assets/css/bootstrap.min.css" rel="stylesheet">
</head>
<body >
    <header style="margin-bottom:0;" class="bg-dark">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid bg-dark">
                <a class="navbar-brand" href="">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/7/78/Classroom_of_the_Elite_logo.png" alt="" class="d-inline-block align-text-top" style="height: 30px;">
                    Classroom of the Elites
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" href="#">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" href="#">Gallery</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" href="#">Contact</a>
                        </li>
                    </ul>
                    <div class="d-flex">
                        <a href="#" class="btn btn-outline-light me-2">Log in</a>
                        <a href="#" class="btn btn-primary">Get started</a>
                    </div>
                </div>
            </div>
        </nav>
    </header>

</body>
</html>