<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Character Gallery</title>
    <link href="../../../src/assets/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .rounded-circle {
            border-radius: 50%;
        }
        .text-justify {
            text-align: justify;
        }
        .text-pink {
            color: #e83e8c;
        }
        img{
            height: 150px;
        }
    </style>
</head>
<body>

<section class="py-5">
    <div class="container text-center">
        <div class="mb-4 mb-lg-5">
            <h2 class="display-4 fw-bold" style="color: #e83e8c;">Gallery of Characters</h2>
            <p class="lead text-light">Explore the world of Elites with the list of characters and know their personality and identity.</p>
        </div>

        <div class="row">
           <div style="position: absolute; float: left;">
            <div class="col-md-3 col-sm-6 mb-4">
                <div class="text-center text-light">
                    <img class="mx-auto mb-4 w-36 h-36 rounded-circle" src="https://steamuserimages-a.akamaihd.net/ugc/1899975013744290763/9828708A9FCE119EADBC29DFA21E27EE4715C9CE/?imw=512&&ima=fit&impolicy=Letterbox&imcolor=%23000000&letterbox=false" alt="Kiyotaka Ayanokōji">
                    <h3 class="mb-1 h4 font-weight-bold text-pink" >
                        <a href="#" style="color: #e83e8c; text-decoration: none;">Kiyotaka Ayanokōji</a>
                    </h3>
                    <h6 class="text-justify text-light mb-3">
                        "I've never once thought of you as an ally. Not you. Not Kushida. Not Hirata. All humans are nothing but tools..."
                    </h6>
                    <p class="text-justify">Kiyotaka Ayanokōji is the main protagonist of the You-Zitsu series. He is currently a second-year student of Advanced Nurturing High School. He was placed in D-Class after scoring precisely 50 points in every subject during the entrance exam.</p>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 mb-4">
                <div class="text-center text-light">
                    <img class="mx-auto mb-4 w-36 h-36 rounded-circle" src="https://i.pinimg.com/736x/27/8e/e0/278ee0a04b905ff4f2c37a2079cc93fa.jpg" alt="Suzune Horikita">
                    <h3 class="mb-1 h4 font-weight-bold text-pink">
                        <a href="#" style="color: #e83e8c; text-decoration: none;">Suzune Horikita</a>
                    </h3>
                    <h6 class="text-justify text-light mb-3">
                        "If I can't do something, I'll be holding Class D back... I, who looked down my nose at the others..."
                    </h6>
                    <p class="text-justify">Suzune Horikita is a second-year student of Advanced Nurturing High School. She is a member of Class 1-D, despite her academic ability, due to her inability to work with others. She is determined to move to A-Class.</p>
                </div>
            </div>
        </div>
        <div style="position: relative; float: right; margin-left: 50em;">
            <div class="col-md-3 col-sm-6 mb-4">
                <div class="text-center text-light">
                    <img class="mx-auto mb-4 w-36 h-36 rounded-circle" src="https://i.pinimg.com/736x/e5/31/28/e531282ce03a7576e62b44dcfbda80c2.jpg" alt="Kei Karuizawa">
                    <h3 class="mb-1 h4 font-weight-bold text-pink">
                        <a href="#" style="color: #e83e8c; text-decoration: none;">Kei Karuizawa</a>
                    </h3>
                    <h6 class="text-justify text-light mb-3">
                        "In the end, nothing changed even after I came to this school. No, that's wrong... Maybe I never had any intention of changing."
                    </h6>
                    <p class="text-justify">Kei Karuizawa is one of the heroines of the You-Zitsu series. She is a prominent figure in Class D and is considered the leader of the girls in her class.</p>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 mb-4">
                <div class="text-center text-light">
                    <img class="mx-auto mb-4 w-36 h-36 rounded-circle" src="https://i.pinimg.com/736x/e7/22/37/e722379a5af0d87d772b89dc7e4563a2.jpg" alt="Kikyō Kushida">
                    <h3 class="mb-1 h4 font-weight-bold text-pink">
                        <a href="#" style="color: #e83e8c; text-decoration: none;">Kikyō Kushida</a>
                    </h3>
                    <h6 class="text-justify text-light mb-3">
                        "I'm living as my ideal self. I always knew I was blessed even when compared to my peers..."
                    </h6>
                    <p class="text-justify">Kikyō Kushida is a student of Class 1-D and is quite popular due to her friendly nature and desire to befriend everyone.</p>
                </div>
            </div>
        </div>
    </div>

        <div class="row">
            <div style="position: absolute; float: left;">
            <div class="col-md-3 col-sm-6 mb-4">
                <div class="text-center text-light">
                    <img class="mx-auto mb-4 w-36 h-36 rounded-circle" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTyrCAdJkH6w8KJqrioRU9YQvGAmDZSPCMYNw&s" alt="Arisu Sakayanagi">
                    <h3 class="mb-1 h4 font-weight-bold text-pink">
                        <a href="#" style="color: #e83e8c; text-decoration: none;">Arisu Sakayanagi</a>
                    </h3>
                    <h6 class="text-justify text-light mb-3">
                        "I don't want to be interrupted. I'm the only one worthy of burying the false genius."
                    </h6>
                    <p class="text-justify">Arisu Sakayanagi is a prominent character known for her intelligence and confidence. She is often considered one of the most powerful students in the school.</p>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 mb-4">
                <div class="text-center text-light">
                    <img class="mx-auto mb-4 w-36 h-36 rounded-circle" src="https://i.pinimg.com/1200x/b8/1f/29/b81f29b0487b3c3ebebe2257e1a19969.jpg" alt="Airi Sakura">
                    <h3 class="mb-1 h4 font-weight-bold text-pink">
                        <a href="#" style="color: #e83e8c; text-decoration: none;">Airi Sakura</a>
                    </h3>
                    <h6 class="text-justify text-light mb-3">
                        "I――from the bottom of my heart, want a person that can reach me."
                    </h6>
                    <p class="text-justify text-light">Airi Sakura is a teenage girl with waist-length pink hair tied in twin pigtails. She is known for her beauty and self-reflection.</p>
                </div>
            </div>
        </div>
        <div style="position: relative; float: right; margin-left: 50em;">
            <div class="col-md-3 col-sm-6 mb-4">
                <div class="text-center text-light">
                    <img class="mx-auto mb-4 w-36 h-36 rounded-circle" src="https://i.pinimg.com/originals/a9/8f/fa/a98ffaa62394c97b6bd42bb408bba425.jpg" alt="Kakeru Ryūen">
                    <h3 class="mb-1 h4 font-weight-bold text-pink">
                        <a href="#" style="color: #e83e8c; text-decoration: none;">Kakeru Ryūen</a>
                    </h3>
                    <h6 class="text-justify text-light mb-3">
                        "This is the way I do things. There can be nothing more or less."
                    </h6>
                    <p class="text-justify">Kakeru Ryūen is the class representative of Class 1-C. He is known for his ruthless leadership style and his desire to dominate the school.</p>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 mb-4">
                <div class="text-center text-light">
                    <img class="mx-auto mb- 4 w-36 h-36 rounded-circle" src="https://i.pinimg.com/736x/67/10/15/671015a1bc4bfd18cf0db003bf39ba57.jpg" alt="Ken Sudō">
                    <h3 class="mb-1 h4 font-weight-bold text-pink">
                        <a href="#" style="color: #e83e8c; text-decoration: none;">Ken Sudō</a>
                    </h3>
                    <h6 class="text-justify text-light mb-3">
                        "Normally, I dislike playing with others as a team, but miraculously, I was able to make it work in the case of basketball."
                    </h6>
                    <p class="text-justify">Ken Sudō is a student of Class 2-D and a talented athlete. Despite his academic struggles, his athleticism is outstanding.</p>
                </div>
            </div>
        </div>
        </div>
    </div>
</section>

</body>
</html>