<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Feature Page</title>
    <link href="../../../src/assets/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .bg-blend-darken {
            background-color: rgba(0, 0, 0, 0.7);
        }
        .font-dark {
            color: #f8f9fa;
        }
    </style>
</head>
<body class="bg-blend-darken mb-0" style="margin-top: 0;">
    <section class="mx-3 my-5 bg-blend-darken">
        <div class="container max-w-screen-xl px-4 py-5">
            <div class="row">
                <div class="col-lg-7" style="float: left; width: 40%; margin-right: 5em;">
                    <h1 class="max-w-2xl mb-4 display-4 fw-bolder " style="color: #FF1493;">Classroom of the Elites</h1>
                    <p class="max-w-2xl mb-6 font-dark text-white lg:mb-8 md:text-lg lg:text-xl">Yōkoso Jitsuryoku Shijō Shugi no Kyōshitsu e (ようこそ実力至上主義の教室へ, literally meaning "Welcome to the Classroom of the Supreme Ability Doctrine"; official localisation: "Classroom of the Elite"), abbreviated as Yō-Jitsu (よう実) or more commonly, its alternative romanization, You-Zitsu, is a light novel series written by Shōgo Kinugasa and illustrated by Tomoseshunsaku.</p>
                    <h2 class="fw-bold" style="color: #FF1493;">Sypnosis</h2>
                    <p class="max-w-2xl mb-6 font-dark  lg:mb-8 md:text-lg lg:text-xl">Kiyotaka Ayanokōji has enrolled at Advanced Nurturing High School, where it's said that 100% of students go on to college or find employment. But he ends up in class 1-D, which is full of all the school's problem children. What's more, every month, the school awards students points with a cash value of 100,000 yen, and the classes employ a laissez-faire policy in which talking, sleeping, and even sabotage are permitted during class. One month later, Ayanokōji, Horikita, and the students of D-Class learn the truth of the system in place within their school...</p>
                    <h2 class="fw-bold " style="color: #FF1493;">Releases</h2>
                    <p class="max-w-2xl mb-6 font-dark text-white lg:mb-8 md:text-lg lg:text-xl">The series has been published under Media Factory's MF Bunko J imprint since 2015; as of January 2024, 27 volumes (including 5 short story collections) have been released.</p>
                </div>
                <div class="col-lg-5 d-none d-lg-flex align-items-center justify-content-end" style="float:right; width: 50%;" >
                    <img src="https://i.redd.it/spx632qbwk291.jpg" alt="mockup" class="img-fluid">
                </div>                
            </div>
        </div>
    </section>
</body>
</html>